@import url('https://fonts.googleapis.com/css?family=Montserrat');

.titulo{
    color: white;
    text-align: center;
    padding: 40px;
}

.login-page {
  width: 360px;
  padding: 3% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: 'Montserrat', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input[type=submit]  {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #680CBF;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  box-shadow: #5200a0 0px 0px 0px;
}

.form input:focus{
   outline: #54009f auto 5px; 
}

.form input[type=submit]:focus{
  color: white;
  background: #30035a;
}

.form input[type=submit]:blur{
  color: white;
  background: #680CBF;
}

.form input[type=submit]:hover {
  outline: #1E0039 auto 5px;
}

.form .message {
  margin: 15px 0 0;
  color: #757575;
  font-size: 13px;
}
.form .message a {
  color: #46087F;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.avisos{
  color: #e54646;
  padding: 0px 0px 15px;
}

/* O codigo abaixo é um metodo paleativo para "alterar o placeholder" do campo
input type="date". 
Fonte: https://codepad.co/snippet/eS0e7ZBE by Gentle Media */

input[type="date"]::before { 
  color: #757575;
	content: attr(data-placeholder);
	width: 100%;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }

.caixa {
  position: relative;
  background: #FFFFFF;
  margin: 20px;
  padding: 40px;
  text-align: center;
  font-size: 25px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

body {
  background: #680CBF; /* para navegadores antigos */
  background: -webkit-linear-gradient(right, #680CBF, #a16fc2);
  background: -moz-linear-gradient(right, #680CBF, #a16fc2);
  background: -o-linear-gradient(right, #680CBF, #a170c2);
  background: linear-gradient(to left, #680CBF, #a16fc2);
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.btn_continuar {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background: #680CBF;
  width: 200px;
  border: 0;
  margin: 40px 10px 10px 10px;;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  box-shadow: rgb(255, 255, 255) 0px 0px 1px; 
  box-sizing: border-box; 
  border-width: 0px;
  border-style: none; 
  border-color: #5f00b9;
}

.btn_continuar:hover {
  outline: #1E0039 auto 5px;
}

.btn_continuar:focus{
  color: white;
  background: #30035a;
}

.btn_continuar:blur{
  color: white;
  background: #680CBF;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}


