@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 400');

.titulo{
    color: white;
    text-align: center;
    padding: 40px;
}

.caixa {
  position: relative;
  background: #FFFFFF;
  margin: 20px;
  padding: 40px;
  text-align: center;
  font-size: 25px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    background: -webkit-linear-gradient(right, #9eb8d1, #597993);
    background: -moz-linear-gradient(right, #9eb8d1, #597993);
    background: -o-linear-gradient(right, #9eb8d1, #597993);
    background: linear-gradient(to left, #9eb8d1, #597993);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin: 15px;
    background: #597993;
    text-transform: uppercase;
    color: white;
}




