@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 400');

.titulo{
    font-weight: 300;
    color: white;
    text-align: center;
    padding: 40px;
}

.caixa {
    font-weight: 300;
    position: relative;
    background: #FFFFFF;
    margin: 20px;
    padding: 40px;
    text-align: justify;
    font-size: 25px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-baixo{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.page {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: -webkit-linear-gradient(right, #7c94ac, #7c94ac);
    background: -moz-linear-gradient(right, #7c94ac, #7c94ac);
    background: -o-linear-gradient(right, #7c94ac, #7c94ac);
    background: linear-gradient(to left, #7c94ac, #7c94ac);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin: 15px;
    text-transform: uppercase;
    background: #597993;
    color: white;
    box-shadow: rgb(255, 255, 255) 0px 0px 1px; 
    box-sizing: border-box; 
    border-width: 0px;
    border-style: none; 
}

p{
    text-indent: 15px;
}



